// Color palette
$primary: #003e5a;
$success: #06d6a0;
$info: #25a7d8;
$warning: #ffd166;
$danger: #ef476f;

$darker: hsl(160, 0, 15);
$dark: hsl(160, 0, 30);
$gray: hsl(160, 0, 45);
$light: hsl(160, 0, 60);
$lighter: hsl(160, 0, 90);
