<ul class="tab tab-block col-12">
<li class="tab-item {{#if index}} active{{/if}}">
    <a href="/">Rulz!</a>
  </li>
  <li class="tab-item {{#if collection}} active{{/if}}">
    <a href="/books.html">Books</a>
  </li>
  <li class="tab-item tab-action {{#if user}} active{{/if}}">
    <a class="float-right" href="/user.html">
      <img src="/static/img/avatar-1.png"
      class="avatar avatar-sm ml-2 mr-2"
      style="margin-top:-.1rem; margin-bottom:-.2rem"/>
    </a>
  </li>
</ul>
