<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{#> title }} Rulz! {{/title}}</title>
    <link rel="shortcut icon" type="image/png" href="{{url "static" "img" "favicon.ico"}}"/>
    <link rel="stylesheet" href="{{url "static" "css" "main.css"}}">
    <link rel="stylesheet" href="{{url "static" "css" "docs.css"}}">
  </head>

  <body>
    <div class="container clearfix">
      {{#> content }} Failover content! {{/content}}
    </div>
  </body>
</html>
